th {
    color: white;
    background-color: blue;
}

tr:nth-child(even) {
    background-color: lightblue;
}

table {
    box-sizing: border-box;
    
}

tbody {
    border-left: 1px solid grey; 
    border-right: 1px solid grey; 
}